*{margin:0;padding:0;box-sizing:border-box}
.container{width:75%;margin:auto}
@font-face{font-family:test;src:url(../Merriweather_Sans/static/MerriweatherSans-Bold.ttf)}

html{--secColor:#bdcad6;--mainColor:#f4623a}.navbar .container{overflow:hidden}
.navbar{margin-top:15px;position:fixed;width:100%}
.logo{color:var(--secColor);float:left;width:35%;text-transform:capitalize;font-size:30px;font-weight:700}
.nav{text-align:right;float:left;width:65%;font-size:20px}

@media (max-width:575.98px)
{.logo,.nav{text-align:center;width:100%}.logo{margin-bottom:10px}}
.nav .list{list-style:none}.list-item{display:inline-block}

.link-nav{color:var(--secColor);text-decoration:none;text-transform:capitalize;margin-right:10px;font-weight:700}

.header-content{background-image:url(../img/bg-masthead.jpg);height:100vh;background-size:cover;background-position:0 -100px}
.header-item{text-align:center;padding-top:200px}
.main-title{font-family:test;color:#fff;width:55%;font-size:45px;margin:auto;text-transform:uppercase;padding:20px}

@media (max-width:575.98px){.main-title{font-size:30px;width:80%}}
.line{display:block;height:3px;width:50px;background-color:var(--mainColor);margin:20px auto}
.main-description{width:35%;margin:25px auto;font-size:17px;font-weight:700;text-transform:lowercase;color:var(--secColor)}

@media (max-width:575.98px){.main-description{font-size:15px;width:80%;margin-top:15px}}
.link{font-family:test;text-transform:capitalize;
    text-decoration:none;color:#fff;display:block;
    background-color:var(--mainColor);margin:30px auto;
    width:150px;padding:19px 5px;border-radius:40px;font-weight:700}
    .header .overlay{background:linear-gradient(to bottom,rgba(92,77,66,.8) 0,rgba(92,77,66,.8) 100%),url(../assets/img/bg-masthead.jpg);height:100%}
    .about{text-align:center;padding-top:130px;padding-bottom:68px;background-color:var(--mainColor)}
    .about-title{font-family:test;color:#fff;font-size:35px;padding-bottom:7px}.about .line{background-color:#fff}
@media (max-width:575.98px){.about-title{font-size:20px;text-align:center;width:100%;margin-top:15px}}
    .about-description{color:rgba(255,255,255,.75);width:50%;margin:auto;font-size:18px;font-weight:700}
@media (max-width:575.98px){.about-description{font-size:13px;width:80%;margin-top:15px}}
    .about .link{font-family:test;background-color:#fff;color:#000}
    .service{text-align:center;padding-top:100px;padding-bottom:100px}
    .service-items{padding-top:45px;overflow:auto}
    .service-title{font-family:test;font-size:30px;text-transform:capitalize}
    .service-item{float:left;width:25%}
 @media (max-width:575.98px){.service-item{width:100%;margin-bottom:20px}}
    .service-items .far,.service-items .fas{color:var(--mainColor);font-size:49px}
    .service-header{padding-top:21px;padding-bottom:10px;font-size:25px;text-transform:capitalize}
    .service-description{font-size:19px;color:#6c757d;width:86%;margin:auto}.portfolio-items{overflow:hidden}
    .portfolio .portfolio-item{float:left;width:33.33%;position:relative}
@media (max-width:575.98px){.portfolio .portfolio-item{width:100%}}
    .portfolio-item img{display:block}
    .portfolio-item .overlay{background-color:var(--mainColor);position:absolute;top:0;left:0;right:0;bottom:0;opacity:0}
    .overlay-contant{text-align:center;padding-top:150px}.overlay-contant .main-overlay{color:var(--secColor);font-size:12px}
    .overlay-contant .sec-overlay{color:#fff}.portfolio-item:hover .overlay{opacity:.8}
    .download{padding-top:120px;padding-bottom:90px;background-color:#343a34}
@media (max-width:575.98px){.download{display:none}}
    .download .download-title{font-family:test;text-align:center;color:#fff;margin:auto;font-size:35px;text-transform:capitalize}
    .download .link{font-family:test;background-color:#fff;text-align:center;width:fit-content;color:#000;padding:24px 36px;
        border:7px solid gray}.contact{padding-top:100px;text-align:center}.contact-title{font-family:test;text-transform:capitalize;
            font-size:30px}.contact-description{color:#6c757d;font-size:20PX;width:63%;margin:auto;text-align:center}
@media (max-width:575.98px){.contact-description{font-size:17px;width:90%}}.contact-items{overflow:hidden}
            .contact-item{float:left;width:50%;margin:40px auto;text-align:center}
@media (max-width:575.98px){.contact-item{width:100%;float:none}}
            .fas{display:block;font-size:50px;color:#6c757d;margin-bottom:15px}
            .contact-info{font-size:20px}.contact-item .contact{color:var(--mainColor);font-weight:700}
            .footer{padding:55px;margin-top:20px;text-align:center;color:#6c757d;background-color:#f8f9fa}
@media (max-width:575.98px){.section{padding-top:10px}}